body {
    margin: 0px;
}

nav {
    background-color: lightgrey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-weight: bold;
}

nav a:hover {
    background-color: darkgrey;
    color: white;
    border-radius: 5px;
}

footer {
    background-color: lightgrey;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    font-weight: bold;
}

.splash {
    display: flex;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 510;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

img {
    border: 4px solid black
}

.address {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.description {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

hr {
    border: 1px solid black;
    margin: 0px 0px;
}

h2 {
    font-family: "Bona Nova SC", serif;
    font-weight: 510;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.Education {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

dl {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

ul {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 1px;
}

dt a {
    text-decoration: none;
    color: blue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
}

dt a:hover {
    color: rgb(48, 119, 206);
}

h3 {
    font-family: "Bona Nova SC", serif;
    font-weight: 510;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}