@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #1abc9c;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #16a085;
}

hr {
  border: none;
}

.dark .navbar {
  background-color: #1a1a1a;
}

.dark .navbar a {
  color: #ffffff;
}

.dark .splash {
  background-color: #1a1a1a;
}

.dark .splash .description {
  color: #dddddd;
}
